<br>
<h2>Welcome, {{ userInSession.username }}!</h2>

{{#if reminders}}

<br>
    <a href="/create">Create a new reminder</a>

    
  
<ul>
  {{#each reminders}}
  <li> {{ this.name}} </li>
  <li> Remind on: {{ this.date}} </li>
  <li>Send Message to: {{ this.phoneNumber}}  </li>

  <form action="/editReminder/{{this.id}}" method="GET">
        <button>Edit</button>
      </form>

  <form action="/deleteReminder/{{this.id}}" method="GET">
        <button>Delete</button>
      </form>


  {{!-- <br>
    <p><a href="/deleteReminder">Delete reminder</a></p> --}}
  {{/each}}
</ul>
<br>
{{else}}
<h2>This is where all your reminders are going to be!</h2>
{{/if}}


