<br>
<h2>Hi, {{ userInSession.username }}!</h2>

{{#if reminders}}

<br>
    <a href="/create">Create a new reminder</a>

    
  
<ul>
  {{#each reminders}}
  <li> {{ this.name}} </li>
  <li> Remind me on: {{ this.reminderDate}}</li>
  <li> Payment due date : {{ this.paymentDue}}</li>
  <li>Send message to: {{ this.phoneNumber}}  </li>

  <form action="/editReminder/{{this.id}}" method="GET">
        <button>Edit</button>
      </form>

  <form action="/deleteReminder/{{this.id}}" method="GET">
        <button>Delete</button>
      </form>


  {{/each}}
</ul>
<br>
{{else}}
<h2>This is where all your reminders are going to be!</h2>
{{/if}}


